[submodule "ipfs_accelerate_py"]
	path = ipfs_accelerate_py
	url = https://github.com/endomorphosis/ipfs_accelerate_py
	branch = main
[submodule "ipfs_datasets_py"]
	path = ipfs_datasets_py
	url = https://github.com/endomorphosis/ipfs_datasets_py
	branch = main
